link(rel="shortcut icon" href="#")
link(rel="stylesheet", href="/css/bootstrap.min.css")
div(class="d-flex flex-column") 
    div(class="container" style="height: calc(100vh - 195px);overflow-y: auto;margin-bottom: 10px;")
        form(id="my_form" method='POST' action="/manten_tipos_hojas_detalle")
            div(class="row")
                div(class="col-xs-3 col-sm-2 col-md-2 col-lg-2 treu_control")
                    p(class="etiqueta") Clave Tipo 
                    treungc-texto(name="CLAVE_TIPO" formato="uppercase" maxlength="2" disabled=""+disabled_clave value=""+campos.tipo)
            div(class="row")
                div(class="col-xs-8 col-sm-6 col-md-6 col-lg-6 treu_control")
                    p(class="etiqueta") Titulo Tipo Hoja 
                    treungc-texto(name="TITULO_TIPO" formato="uppercase" maxlength="30" disabled=""+disabled_campos value=""+campos.titulo)
                button(id="submit" class="btn btn-md btn-primary btn-block" style="display: none;" onclick="ajax_submit('#my_form', 'temporal');")
            input(type="hidden" value=""+opcion name='opcion')
    div(class="mt-auto" class="botonera")
        div(class="row")
            div(class="col-xs-4 col-sm-3 col-md-3 col-lg-3")
                button(id="mandar" class="btn btn-md btn-block" style=""+color_boton onclick="$('#submit').click();") #{titulo_boton}
            div(class="col-xs-4 col-sm-3 col-md-3 col-lg-3" style="padding-left: 6px;")
                button(id="cancel" class="btn btn-md btn-secondary btn-block" onclick="$('#accion_cancelar')[0].click();") Cancelar
    a(style="display: none" href="/manten_tipos_hojas" id="accion_cancelar" data-link)
script. 
    
    window.onload = function(e) {
        const nodes = document.getElementsByTagName("PRI_IMA");
        if (nodes.length==0) {
            window.location="./frontend/index0.html";
        }
    }
