link(rel="shortcut icon" href="#")
link(rel="stylesheet", href="/css/bootstrap.min.css")
div(class="d-flex flex-column") 
    div(style="display: flex; justify-content: center; align-items: center; height: calc(100vh - 135px);margin-bottom: 10px; width: 100%;")
        img(src=escudo_pantalla style="width: "+ancho_escudo_pantalla+"%; height: "+alto_escudo_pantalla+"%;")
